<web-app>
	<servlet>
		<servlet-name>ListDB</servlet-name>
		<servlet-class>ListDB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListDB</servlet-name>
		<url-pattern>/ListDB</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoadAll</servlet-name>
		<servlet-class>LoadAll</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadAll</servlet-name>
		<url-pattern>/LoadAll</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DescDB</servlet-name>
		<servlet-class>DescDB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DescDB</servlet-name>
		<url-pattern>/DescDB</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DescTab</servlet-name>
		<servlet-class>DescTab</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DescTab</servlet-name>
		<url-pattern>/DescTab</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBProperties</servlet-name>
		<servlet-class>DBProperties</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBProperties</servlet-name>
		<url-pattern>/DBProperties</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BrowseTab</servlet-name>
		<servlet-class>BrowseTab</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BrowseTab</servlet-name>
		<url-pattern>/BrowseTab</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BrowseForm</servlet-name>
		<servlet-class>BrowseForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BrowseForm</servlet-name>
		<url-pattern>/BrowseForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoadLob</servlet-name>
		<servlet-class>LoadLob</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadLob</servlet-name>
		<url-pattern>/LoadLob</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InsertForm</servlet-name>
		<servlet-class>InsertForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertForm</servlet-name>
		<url-pattern>/InsertForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InsertLobs</servlet-name>
		<servlet-class>InsertLobs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertLobs</servlet-name>
		<url-pattern>/InsertLobs</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InsertNorm</servlet-name>
		<servlet-class>InsertNorm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertNorm</servlet-name>
		<url-pattern>/InsertNorm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBOperations</servlet-name>
		<servlet-class>DBOperations</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBOperations</servlet-name>
		<url-pattern>/DBOperations</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateTab</servlet-name>
		<servlet-class>CreateTab</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateTab</servlet-name>
		<url-pattern>/CreateTab</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditForm</servlet-name>
		<servlet-class>EditForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditForm</servlet-name>
		<url-pattern>/EditForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditNorm</servlet-name>
		<servlet-class>EditNorm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditNorm</servlet-name>
		<url-pattern>/EditNorm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditLobs</servlet-name>
		<servlet-class>EditLobs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditLobs</servlet-name>
		<url-pattern>/EditLobs</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DropRecords</servlet-name>
		<servlet-class>DropRecords</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DropRecords</servlet-name>
		<url-pattern>/DropRecords</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmptyTab</servlet-name>
		<servlet-class>EmptyTab</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmptyTab</servlet-name>
		<url-pattern>/EmptyTab</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DropTab</servlet-name>
		<servlet-class>DropTab</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DropTab</servlet-name>
		<url-pattern>/DropTab</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AlterTab</servlet-name>
		<servlet-class>AlterTab</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlterTab</servlet-name>
		<url-pattern>/AlterTab</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RenameTab</servlet-name>
		<servlet-class>RenameTab</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RenameTab</servlet-name>
		<url-pattern>/RenameTab</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TabOperations</servlet-name>
		<servlet-class>TabOperations</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TabOperations</servlet-name>
		<url-pattern>/TabOperations</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DropColumn</servlet-name>
		<servlet-class>DropColumn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DropColumn</servlet-name>
		<url-pattern>/DropColumn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmptyColumn</servlet-name>
		<servlet-class>EmptyColumn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmptyColumn</servlet-name>
		<url-pattern>/EmptyColumn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RenameColumn</servlet-name>
		<servlet-class>RenameColumn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RenameColumn</servlet-name>
		<url-pattern>/RenameColumn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AlterColumn</servlet-name>
		<servlet-class>AlterColumn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlterColumn</servlet-name>
		<url-pattern>/AlterColumn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBQuery</servlet-name>
		<servlet-class>DBQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBQuery</servlet-name>
		<url-pattern>/DBQuery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TabQuery</servlet-name>
		<servlet-class>TabQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TabQuery</servlet-name>
		<url-pattern>/TabQuery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExportDB</servlet-name>
		<servlet-class>ExportDB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportDB</servlet-name>
		<url-pattern>/ExportDB</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExportTab</servlet-name>
		<servlet-class>ExportTab</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportTab</servlet-name>
		<url-pattern>/ExportTab</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Import</servlet-name>
		<servlet-class>Import</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Import</servlet-name>
		<url-pattern>/Import</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchDB</servlet-name>
		<servlet-class>SearchDB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchDB</servlet-name>
		<url-pattern>/SearchDB</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchTab</servlet-name>
		<servlet-class>SearchTab</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchTab</servlet-name>
		<url-pattern>/SearchTab</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
</web-app>
